# This is the endpoint where your backend server is deployed.
# Leave it as localhost for local testing.
# For production frontend deployments (e.g. Vercel) replace this key in your project's Environment Settings.
VITE_API_URL=http://localhost:8080
